{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="container">
        <div class="row">
            <h1 class="text-center">Réinitialisation de votre mot de passe</h1>
        </div>
        <br/>
        <div class="card">
            <div class="card-body">
              {{ form_start(resetPasswordForm) }}
                <div class="mb-3 row col-8">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Mot de passe :</label>
                    <div class="col-sm-5">
                      {{ form_row(resetPasswordForm.newPassword.first) }}
                    </div>
                </div>
                    
                <div class="mb-3 row col-8">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Confirmez votre mot de passe :</label>
                    <div class="col-sm-5">
                      {{ form_row(resetPasswordForm.newPassword.second) }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" class="my-3">Valider</button>
                <a class="btn btn-secondary" href="{{ path('app_login') }}">Annuler</a>
              {{ form_end(resetPasswordForm) }}
            </div>
        </div>
    </div>
{% endblock %}
